<% if logged_in? %>
  
 <h2>VS待ち</h2>
 <% if @posts.present? %>
   <% @posts.each do |post| %>
     <% if post.vattle.nil? %>
       <ul>
         <li>
           <p>
             <%= post.title %>
           </p>
           <p>
             <%= image_tag post.image.url if post.image? %> <h3>VS  <%= link_to '画像待ち',new_vattle_path(id:post.id) %></h3>
           </p>
           <p>
            <% if current_user == post.user %>
            <%= link_to "Delete", post, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
           </p>
           <% end %>
   <% end %>
     <% end %>       
<% else %>
  <%= link_to 'あなたが今日最初のユーザーです。早速画像を投稿してバトルを募集してみましょう',new_post_path %>
<% end %>  
 
    </li>     
  </ul>       
         
 <h2>VS中</h2>
  <% if @vattles.present? %>
    
      <% @vattles.each do |vattle| %>
        <% if @time < vattle.created_at+24.hours %>   
          <%= vattle.post.title %>                                                  <%= vattle.title %>
          <p><%= image_tag vattle.post.image.url if vattle.post.image? %>VS<%= image_tag vattle.imaged.url if vattle.imaged? %></p>
          <p><div class="like_button"><%= render 'likes/like_button', post: vattle.post %></div>
             <div class="seclike_button"><%= render 'likes/seclike_button', vattle: vattle %></div>
          </p>
          <p>投票数：<%= post_count(vattle.post) %> 投票数：<%= vattle_count(vattle) %></p>  
        <% end %>
      <% end %> 
 <% else %>
  <p>画像待ちの画像からバトルに参加しましょう</p>
 <% end %> 
 
 
 <h2>VS結果</h2>
 
 <% if @vattles.present? %>
    <% @vattles.each do |vattle| %>
    
      <% if post_count(vattle.post) > vattle_count(vattle) && @time > vattle.created_at+24.hours %>
          <%= vattle.post.title %>                                                  <%= vattle.title %>
          win<p><%= image_tag vattle.post.image.url if vattle.post.image? %>lose<%= image_tag vattle.imaged.url if vattle.imaged? %></p>
          <p>投票数：<%= post_count(vattle.post) %> 投票数：<%= vattle_count(vattle) %></p>
      <% elsif post_count(vattle.post) < vattle_count(vattle) && @time > vattle.created_at+24.hours %>
          <%= vattle.post.title %>                                                  <%= vattle.title %>
          win<p><%= image_tag vattle.imaged.url if vattle.imaged? %>lose<%= image_tag vattle.post.image.url if vattle.post.image? %></p>
          <p>投票数：<%= vattle_count(vattle) %> 投票数：<%= post_count(vattle.post) %></p>
      <% elsif post_count(vattle.post) == vattle_count(vattle) && @time > vattle.created_at+24.hours  %>    
          <%= vattle.post.title %>                                                  <%= vattle.title %>
          引き分け<p><%= image_tag vattle.post.image.url if vattle.post.image? %>引き分け<%= image_tag vattle.imaged.url if vattle.imaged? %></p>
          <p>投票数：<%= post_count(vattle.post) %> 投票数：<%= vattle_count(vattle) %></p>
      <% end %>
      
   <% end %>       
 <% else %>
  <p>画像待ちの画像からバトルに参加しましょう</p>
 <% end %> 
 
       

 
      
  
 
<% else %>
 <div class="center jumbotron">
 <div class="text-center">
    <h1>Welcome to the VSimage</h1>
    <%= link_to '新規登録', signup_path, class: 'btn btn-lg btn-primary' %>
</div>
</div>
<% end %>

